<html>
<head>
  <title>Pemetaan Jalur AGV di Gudang</title>
  <style>
    /* Style untuk header */
    header {
      background-color: lightgray;
      padding: 20px;
      text-align: center;
    }
    /* Style untuk container peta */
    .map-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      margin: 20px;
    }
    /* Style untuk peta */
    .map {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <!-- Header -->
  <header>
    <h1>Pemetaan Jalur AGV di Gudang</h1>
  </header>
  <!-- Container peta -->
  <div class="map-container">
    <!-- Peta -->
    {% for peta in peta %}
    <img class="map" src="../media/{{peta.image}}" alt="Peta Jalur AGV">
    {% endfor %}
</div>
</body>
</html>